// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #06D6A0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F7F7F9;
$shadow: rgba(0, 0, 0, 0.2);
$black: rgb(255, 255, 255);
$dark-shadow: rgba(0,0,0,0.6);
$light-shadow: rgba(0,0,0,0.07);
$lightest-shadow: rgba(0,0,0,0.03);

